In [1]:
N, M = map(int, input().split())
A = list(map(int, input().split()))

count = 0
for i in range(len(A)):
    for j in range(i + 1, len(A)):
        if sum(A[i:j]) == M:
            count += 1 
     
print(count)

3

In [2]:
a = [1, 2, 3, 4, 5]
sum(a)

15

In [3]:
sum = 0
for i in range(10):
    sum += i
    
print(sum)

45

In [4]:
a = [1, 2, 3, 4, 5]
sum(a)

TypeError: 'int' object is not callable

In [1]:
a, b = map(int, input().split())

# A+B, A-B, A*B, A/B(몫), A%B(나머지)
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)

10
-4
21
0.42857142857142855
3

In [2]:
a, b, c = map(int, input().split())

In [6]:
a = list(map(int, input().split()))
print(a)

[123]

In [14]:
# 첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

number1 = input().split()
number2 = input().split()

print(type(number1))

<class 'list'>

In [ ]:
print(int(number1) * int(number2[-1]))
print(int(number1) * int(number2[-2]))
print(int(number1) * int(number2[-3]))
print((int(number1) * int(number2[-1])) + (int(number1) * int(number2[-2]) * 10) + (int(number1) * int(number2[-3]) * 100))

In [13]:
number = str(123)
print(number[-1])

3

In [15]:
a = input()
print(type(a))

<class 'str'>

In [29]:
a = input()
b = input().split()
e = list(map(int, input()))
# f = map(int, input().split())

print(a, type(a)) # 123 123 <class 'str'>
print(b, type(b)) # ['123', '123'] <class 'list'>
print(e, type(e))
# print(f, type(f))

123 123 <class 'str'>
['123', '123'] <class 'list'>
[1, 2, 3] <class 'list'>

In [33]:
a = str(123)
b = list(map(int, a))
print(b)

[1, 2, 3]

In [ ]:
map(func, iterable)

map(

In [ ]:
a, b, c = map(int, input().split())

print(type(a))

<class 'map'>

In [42]:
print("\\    /\\")
print(" )  ( '")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( '
(  /  )
 \(__)|

In [ ]:
print("/")
print("\")

In [44]:
year = int(input())

if (year % 4 == 0) and ((year % 100 != 0) or (year % 400 == 0)):
    print(-1)
else:
    print(0)

-1

23 20